@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Serif JP', serif;
    color: #2c2c2c;
    background-color: #fAf3E0;
    line-height: 1.6;
}

header {
    background-color: rgba(250, 243, 224, 0.9);
    border-bottom: 3px solid #B33939;
    padding: 20px;
    text-align: center;
    position: sticky;
}

header h1 {
    color: #B33939;
    font-size: 32px;
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #2C2C2C;
    margin: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #B33939;
}


main {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

.principio {
    width: 98.5%;
    border: 4px solid #B33939;
}

h2 {
    color: #B33939;
    border-bottom: 2px solid #F7B538;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

section {
    width: 1220px;
    display: flex;
    justify-content: center;
}

article {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
    border-left: 4px solid #B33939;
    border-right: 4px solid #B33939;
    width: 600px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    transition: transform 0.3s;
}

article:hover {
    transform: translateY(3px);
}

article h2 {
    color: #B33939;
}

article h2:hover {
    color: #F7B538;
}

.arriba img {
    height: 400px;
    width: 350px;
}

.abajo-derecha img {
    padding-top: 22px;
    padding-bottom: 3px;
}

article img {
    height: 200px;
    width: 400px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: rgba(250, 243, 224, 0.9);
    border-top: 3px solid #B33939;
    font-size: 14px;
    color: #8C7A6B;
}
